:root {
  --main-purple-dark-color: #8543ff;
  --main-purple-light-color: #c216db;
  --header-text-color: #232323;
  --paragraph-color: #868686;
  --section-color: #eff2f7;
  --white-color: #fff;
}

/* General Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.5;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------------------
------ NAVIGATIONBAR -------
---------------------------- */

.header {
  border-bottom: 1px solid #e2e8f0;
}

.nav {
  z-index: 1000;
  display: flex;
  padding: 30px;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  background: var(--white-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.nav__logo {
  font-weight: 500;
  font-weight: 600;
  margin: 0 20px;
  font-size: calc(30 / 16 * 1rem);
  color: var(--main-purple-dark-color);
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin: 0 20px;
}

.nav__link {
  font-weight: 400;
  transition: all 0.3s ease;
  font-size: calc(18 / 16 * 1rem);
  color: var(--header-text-color);
}

.nav__link:hover {
  color: var(--main-purple-light-color);
}

.contact__link {
  border-radius: 5px;
  padding: 8px 10px;
  transition: all 0.3s ease;
  color: var(--white-color);
  background: var(--main-purple-dark-color);
}

.contact__link:hover {
  color: var(--white-color);
  background: var(--main-purple-light-color);
}

/* --------------------------
------ HAMBURGER MENU -------
----------------------------- */

.hamburger {
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  display: block;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--main-purple-dark-color);
}

/* ---------------------------
------ HERO - SHOWCASE -------
------------------------------ */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hero__text {
  width: 500px;
  margin: auto;
}

.hero__text h3 {
  font-weight: 400;
  color: var(--header-text-color);
  font-size: calc(20 / 16 * 1rem);
}

.hero__text h1 {
  font-weight: 600;
  font-size: calc(40 / 16 * 1rem);
  padding-bottom: 25px;
}

.thin {
  font-weight: 400;
}

.hero__text p {
  font-size: 1rem;
  color: var(--paragraph-color);
  padding-bottom: 30px;
}

.hero__text button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  transition: all 0.3s ease;
  background: var(--main-purple-dark-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.18);
}

.hero__text button:hover {
  transform: translatey(-4px);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.hero__text button:active,
.hero__text button:focus {
  transform: translatey(3px);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.28);
}

.hero__text button a {
  font-weight: 500;
  font-size: 1rem;
  color: var(--white-color);
}

.hero__img {
  width: 350px;
  margin: auto;
  animation: glide 2s ease-in-out infinite alternate;
  animation-timing-function: linear;
  transform-origin: bottom;
}

/* -------------------
------ SERVICE -------
---------------------- */

.service {
  padding: 30px;
  display: grid;
  justify-content: center;
  background: var(--section-color);
  grid-template-columns: repeat(4, auto);
  text-align: center;
}

.service__card {
  padding: 30px;
  margin: -70px 20px 0 20px;
  max-width: 280px;
  border-radius: 35px 0 35px 35px;
  background: var(--white-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.service__card h3 {
  color: var(--header-text-color);
  margin-bottom: 10px;
  font-size: calc(18 / 16 * 1rem);
}

.service__card p {
  color: var(--paragraph-color);
  font-size: 1rem;
}

.service__card i {
  padding: 15px;
  margin-bottom: 20px;
  color: var(--white-color);
  font-size: calc(20 / 16 * 1rem);
  border-radius: 15px 0 15px 15px;
}

.service__card .fa-code-branch {
  padding: 15px 18px;

  background: var(--main-purple-dark-color);
}

.service__card .fa-people-group {
  background: #e26161;
}

.service__card .fa-code {
  background: var(--main-purple-light-color);
}

.service__card .fa-list-ul {
  background: #eb8220;
}

/* --------------------
------ ANIMATION-------
----------------------- */

@keyframes glide {
  from {
    transform: translateY(1.5);
  }

  to {
    transform: translateY(-15px);
  }
}

/* --------------------------
------ MEDIA QUERY -------
----------------------------- */

@media (max-width: 1500px) {
  .nav {
    width: 100%;
    display: flex;
    padding: 20px;
    z-index: 1000;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: var(--white-color);
  }
}
